<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
        <p>
          I have 5 years of professional experience as a software engineer, working in both startup and big corporate environments.
          Currently I am a senior backend/data engineer at <a href="{{ site.links.companies.fanai.url }}">FanAI</a> and am working on enabling brands to quantify the value of their sports sponsorships.
          In both my current and previous role in the Merchandising department of <a href="{{ site.links.companies.thd.url }}">The Home Depot</a>
          I have built and maintained RESTful APIs, microservices, cloud infrastructure, event driven data pipelines, and CI/CD pipelines.
          From my experiences I have also become a strong advocate for test driven development (TDD) and the extreme programming practice of pair programming as
          they both are great at catching potential bugs with the latter having the added benefit of providing real time knowledge transfer of the code.
        </p>
        <p>
          I have an inquisitive mind and am naturally drawn to taking on challenging problems. 
          I obtained my Bachelor of Science Degree with a double major in Applied Mathematics and 
          Computer Science from <a href="{{ site.links.education.emory }}">Emory University</a> in the fall of 2017, where I received a full 
          tuition scholarship. Previously I worked at <a href="{{ site.links.internships.sfl }}">SFL Scientific</a> as a Data Science Consulting
          intern, the <a href="{{ site.links.internships.simbiosys }}">Simbiosys Lab</a> as a research assistant, and The University of Cambridge as a <a href="{{ site.links.internships.vichf }}">VICHF-IREU</a> fellow.
        </p>
        <p>
          Creating a high quality product that provides a benefit to the lives of users is a passion of mine.
          I take pride in my work and hold myself to high standards.
          I have enjoyed designing, building, and operationalizing data processing systems and am open to opportunities
          that would allow me to further develop these skills in addition to being able to help productize machine learning models.
        </p>
      </div>
	    <div class="col-sm-6">

      <h4>Languages</h4>
      <hr style="margin-left:0;max-width:200px;color:#{{ site.color.primary }};" />

      <h5>Expert/Advanced</h5>
        <ul>
          <li>Python</li>
        </ul>
      <h5>Proficient</h5>
        <ul>
          <li>Java</li>
          <li>JavaScript (Node.js)</li>
          <li>Bash</li>
        </ul>
      <h5>Learning</h5>
        <ul>
          <li>Rust</li>
        </ul>

      <h4 style="padding-top:20px;">Technologies</h4>
      <hr style="margin-left:0;max-width:200px;color:#{{ site.color.primary }};" />

      <h5>Expert/Advanced</h3>
        <ul>
          <li>Google Cloud Platform</li>
          <li>Kubernetes/Helm/Containers</li>
          <li>PostgreSQL</li>
          <li>REST</li>
        </ul>
      <h5>Proficient</h3>
        <ul>
          <li>Terragrunt/Terraform</li>
          <li>BigQuery</li>
          <li>Git</li>
        </ul>
      <h5>Used in the past</h3>
        <ul>
          <li>DGraph</li>
          <li>Cassandra</li>
          <li>Redis</li>
          <li>MongoDB</li>
        </ul>
	    </div>
    </div>
  </div>
</section>
