<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I have been a software engineer on the Product Catalog team in the Merchandising Department at The Home Depot. While I am a proficient full-stack developer, my work at THD has focused on building secure, reliable, and scalable backend services on the Google Cloud Platform.
        <p>
          I have an inquisitive mind and am naturally drawn to taking on challenging problems. I obtained my Bachelor of Science Degree with a double major in Applied Mathematics and Computer Science from Emory University, where I received a full tuition scholarship. Previously I worked at SFL Scientific as a Data Science Consulting intern and The University of Cambridge as a VICHF-IREU fellow. I have enjoyed working with Node.js, React, Java, and Python and am open to positions with purely a backend focus or full-stack positions.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
          <li>
            Created a full stack Express/React app that integrates SSO authentication and allows logged in users to manage clients of our services.
          </li>
          <li>
            Built CI/CD pipelines for our services in Team City that automate testing, static code analysis, artifact uploading, docker containerization, and deployment.
          </li>
          <li>
            Developed an application that injests csv files and upserts tables in a Postgres database for the purpose of moving another team move off a legacy system.
          </li>
          <li>
            Classified faces based on how wrinkly they are for L’Oréal using transfer learning with an Inception V3 age classification model resulting in a testing accuracy of 85%.
          </li>
          <li>
            Led a group project involving the implementation of user and item based collaborative filtering algorithms (testing RMSE of 0.97 and 0.92 respectively) for the purpose of 
            <a href="https://sflscientific.com/data-science-blog/2017/11/15/movie-recommendations">movie recommendations</a>.
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
