<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
        <p>
          I have 3+ years of professional experience as a software engineer, working in both startup and big corporate environments.
          Currently I am a backend engineer at <a href="{{ site.links.companies.fanai }}">FanAI</a> with a <a href="{{ site.links.certifications.gcp }}">Professional Data Engineer Certification</a>.
          In both my current and previous role in the Merchandising department of <a href="{{ site.links.companies.thd }}">The Home Depot</a> 
          I have built and maintained cloud infrastructure, RESTful APIs, microservices, event driven data pipelines and CICD pipelines.          
        </p>
        <p>
          I have an inquisitive mind and am naturally drawn to taking on challenging problems. 
          I obtained my Bachelor of Science Degree with a double major in Applied Mathematics and 
          Computer Science from <a href="{{ site.links.education.emory }}">Emory University</a> in the fall of 2017, where I received a full 
          tuition scholarship. Previously I worked at <a href="{{ site.links.internships.sfl }}">SFL Scientific</a> as a Data Science Consulting 
          intern and The University of Cambridge as a <a href="{{ site.links.internships.vichf }}">VICHF-IREU</a> fellow. 
        </p>
        <p>
          Creating a high quality product that provides a benefit to the lives of users is a passion of mine.
          I take pride in my work and hold myself to high standards.
          I have enjoyed designing, building, and operationalizing data processing systems and am open to opportunities
          that would allow me to further develop these skills in addition to being able to help productize machine learning models.
        </p>
      </div>
	    <div class="col-sm-6">
        <h3 style="margin-top:0;">Skills</h3>
      <h4 style="padding-top:20px;color:#{{ site.color.primary }};">
        Languages
      </h4>
      <h5 style="padding-top:10px;">Expert/Advanced</h5>
        <ul>
          <li>Python</li>
        </ul>
      <h5 style="margin-top:0;">Proficient</h5>
        <ul>
          <li>Java, JavaScript (Node.js), SQL, Bash</li>
        </ul>
      <h5 style="margin-top:0;">Interested In</h5>
        <ul>
          <li>Scala, Rust, Go</li>
        </ul>
      <h4 style="padding-top:20px;color:#{{ site.color.primary }};">
        Technologies
      </h4>
      <h5 style="padding-top:10px;">Expert/Advanced</h3>
        <ul>
          <li>Google Cloud Platform, Kubernetes, Git, Docker, REST</li>
        </ul>
      <h5 style="margin-top:0;">Proficient</h3>
        <ul>
          <li>PostgreSQL, Helm</li>
        </ul>
      <h5 style="margin-top:0;">Learning</h3>
        <ul>
          <li>Terraform, Redis, Nginx</li>
        </ul>
	    </div>
    </div>
  </div>
</section>
