<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			  <ul>
			    <li>
						<b>Machine learning pipelines</b>. Creating models that are dynamically trained by data that is continually entering the system is an interesting problem that I would love to have a hand in on an enterprise scale.
			    </li>
			    <li>
						<b>Computer networks</b>. Since my time working in the <a href="https://simbiosyslab.github.io/">Simbiosys lab at Emory</a> I have been interested in advances in technology that make it feasible to provide cheap, universal internet to developing countries.
					</li>
			    <li>
				    <b>Eating spicy food</b>. Over the past year I've taken a deep dive into exploring the spicy side of Atlanta and am always down for recommendations.
          </li>
			  </ul>
		  </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0">Recent Projects</h3>
		    <ul>
  			  <li>
						Hyrapid is a peer-to-peer renting platform where users can have make money off items they own in addition to being able to borrow items needed for special occasions.
    		  </li>
  			  <li>
						<a href="https://github.com/Ulminator/EmoryCourseCritique">Emory Course Critique</a> is a MERN stack web app that was made to provide students with information on the courses they are considering enrolling through community driven ratings.  
  			  </li>
  		  </ul>
  		  <h3>Other Things</h3>
  		  <ul>
  			  <li>
            My team at The Home Depot was awarded the <a href="../img/teamAward.jpg">Best Quarterly Team Performance</a> trophy.
  			  </li>
  			  <li>
  			    As a starter for A.C. Flora's varsity football I was <a href="http://www.maxpreps.com/athlete/matt-ulmer/hVjr8vTxEeKZ5AAmVebBJg/default.htm">ranked #26</a> in the state and we had a combined record of 23-4 over my final two years.
  			  </li>
		    </ul>
      </div>
    </div>
  </div>
</section>
