<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			  <ul>
			    <li>
						<b>Machine Learning Pipelines</b>. Creating models that are dynamically trained by data continually entering a system is an interesting problem not simply due to the mathematics involved, but also due to the architectural complexity required to handle such a workload and be reliable.
			    </li>
			    <li>
						<b>Computer Networks</b>. Since my time working in the <a href="https://simbiosyslab.github.io/">Simbiosys lab at Emory</a> I have been interested in advances in technology that make it feasible to provide cheap, universal internet to developing countries.
					</li>
					<li>
						<b>Quantum Computing</b>. Once we are able to circumvent the current limitations of fault tolerance and information retention time for quantum computers, the possibilities for modeling natural processes and data analysis will drastically increase.
					</li>
			  </ul>
		  </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0">Recent Projects</h3>
		    <ul>
  			  <li>
						Hyrapid is a peer-to-peer renting platform where users can have make money off items they own in addition to being able to borrow items needed for special occasions.
    		  </li>
  			  <li>
						<a href="https://github.com/Ulminator/EmoryCourseCritique">Emory Course Critique</a> is a MERN stack web app that was made to provide students with information on the courses they are considering enrolling in through community driven ratings.  
					</li>
					<li>
						Utilized ZeroMQ's DEALER-ROUTER pattern with Node's cluster module and MongoDB to implement an API that ingests transaction data, classifies <a href="https://github.com/Ulminator/recurring-transactions">recurring transactions</a>, and informs users for the purposes of saving money.
					</li>
  		  </ul>
  		  <h3>Other Things</h3>
  		  <ul>
  			  <li>
            My team at The Home Depot was awarded the <a href="../img/teamAward.jpg">Best Quarterly Team Performance</a> trophy.
  			  </li>
					<li>
						<a href="https://www.maxpreps.com/athlete/matt-ulmer/hVjr8vTxEeKZ5AAmVebBJg/default.htm">Ranked #26</a> in the state as a starter for A.C. Flora's varsity football team; having a combined two season record of 23-4 and receiving an <a href="../img/footballAward.jpg">award from the National Football Foundation</a>.
					</li>
		    </ul>
      </div>
    </div>
  </div>
</section>
